*{
    margin:0;
    padding:0;
    font-family: 'Signika Negative', sans-serif;
}

.navbar{
    background-color: whitesmoke;
    padding: 10px;
}
.title{
    font-family: 'Glory', sans-serif;
    font-weight:bolder;
    font-size: 40px;
    margin-left: 60px;
    padding-bottom: 30px;
    margin-top: -5px;
    position: absolute;
    color: #FFB319;
}
.searchbox{
    background-color: white;
    margin-left: 220px;
    width: 500px;
    height: 35px;;
    border-radius: 5px;
    position: absolute;
    padding-left: 10px;       
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
}
.searchbtn{
    margin-left: 690px;
    position: absolute;
    height: 32px;
    margin-top: 2.5px;
}

.accountlogo{
    margin-left: 1110px;
    height: 35px;
}
.dashboardlogo{
    padding-left: 20px;
    height: 35px;
}
.chatlogo{
    padding-left: 20px;
    height: 35px;
}
.cartlogo{
    padding-left: 20px;
    height: 35px;
}

.nav2{
    margin-top: 10px;
    background-color: #0d46e6;
    height: 40px;
    justify-content: center;
    text-align: center;
}

.nav2list{
    display: inline-flex;
    padding: 10px;
}
.nav2list a{
    color: white;
    text-decoration-color: whitesmoke;
    font-size: 18px;
}
.main1{
    width: 80%;
    height: 400px;
    border-style: solid;
    margin: 20px;
    border-color: cornflowerblue;
}
.main2{
    width: 15%;
    height: 400px;
    border-color: rgb(238, 177, 8);
    border-style: solid;
    margin-top: -426px;
    margin-left: 1130px;
}
.boxes{
    display: flex;
    padding: 30px;
    justify-content: center;
}
.box1{
    display: inline;
    border-style: solid;
    width: 500px;
    height: 200px;
    margin-right: 80px;
    margin-left: 100px ;
}
.box2{
    display: inline;
    border-style: solid;
    width: 500px;
    height: 200px;
    margin-right: 80px;
}
.box3{
    display: inline;
    border-style: solid;
    width: 500px;
    height: 200px;
    margin-right: 80px;
}
.footer{
    background-color: rgb(78, 78, 78);
    color: whitesmoke;
    display: flex;
    justify-content: center;
}